@media (max-width: 575.98px) {
  .welcome_nav_div {
    flex-direction: column;
  }

  .welcome_logo {
    align-items: flex-start;
    justify-content: flex-start;
  }

  #welcome {
    justify-content: space-around;
  }
}

@media (max-width: 991.98px) {
  .card-body a {
    margin: 5px 0px
  }
}
