@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: light;
}

#screen_doc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/*//////////////////////////////*/
/*////////////HOME PAGE/////////*/
/*//////////////////////////////*/

#welcome {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-image: url('../img/cartier-santos.jpg');*/
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../img/cartier-santos.jpg');

  background-repeat: no-repeat;
	background-size: cover;
}

.welcome_logo {
  min-height: 200px;
  height: 20%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.welcome_nav_div {
  width: 100%;
  height: 40px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}

.welcome_nav_div button {
  color: white;
  margin: 10px;
}

.welcome_nav_div .nav-link {
color: white;
}

.welcome-nav {
  margin: 10px;
  color: white;
}

.welcome-nav:hover {
  color: #D25E30;
  text-decoration: none;
  /*border-bottom: 3px solid #D25E30;*/
  transition: 0.5s;
}

/*//////////////////////////////*/
/*///////DOCUMENTATION//////////*/
/*//////////////////////////////*/


.card {
  margin-bottom: 12px;
}


.lg_logo {
  width: 300px;
  margin: 2% auto;
}

/*//////////////////////////////*/
/*//////////////FOOTER//////////*/
/*//////////////////////////////*/

.footer {
  display: flex;
  justify-content: space-around;
}

.footer-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer.container {
  min-height: 0;
}

.footer-col {
  margin-top: 1%;
  margin-bottom: 1%;
}

.footer-details {
  color: #F17E3A;
}

.sharp {
  border-radius: 0;
}

.cartier-red {
  color: #871C18;
}

.cartier-grey {
  color: #A2A2A2;
}

.big {
  font-size: 4em;
}

/*//////////////////////////////*/
/*///////BOOTSTRAP OVERRIDE/////*/
/*//////////////////////////////*/

.media {
  align-items: center !important;
}

.jumbotron {
  margin-bottom: 0 !important;
  background-color: #A2A2A2;
  color: white;
}

.jumbotron h1 {
  font-family: 'Alatsi', serif;
  font-weight: bold;
}

.navbar {
  margin-bottom: 30px !important;
}

.btn-outline-danger {
  color: #871C18;
  border-color: #871C18;
}

.bg-white {
  background-color: white;
}

.footer {
  border: 1px solid #E6E6E6;
}

* {
  border-radius: 1px !important;
}

.container {
  min-height: 100%;
  margin: 0 auto;
}
